@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-primary-600
}

/* Apply default sizing for images */
img {
  @apply max-h-[300px] w-auto max-w-[60%] object-contain;
  /* Set the height and width for images */
}

/* Apply default sizing for SVGs */
svg {
  @apply h-6 w-6;
  /* Set the size for SVGs */
}

/* Light mode styles */
::selection {
  @apply bg-success-400;
}

/* add the code bellow */
@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

h1 {
  @apply h1 font-semibold;
}

h2 {
  @apply h2 font-semibold;
}

h3 {
  @apply h3 font-semibold;
}

h4 {
  @apply pt-6 font-semibold;
}

p {
  @apply py-2
}

blockquote {
  @apply bg-primary-400/50 px-5 py-5 border-primary-700 rounded-sm border-l-2 text-primary-900
}


th {
  @apply bg-primary-400
}

time {
  @apply font-semibold text-primary-600
}

a {
  @apply anchor text-primary-600 hover:text-error-500
}

table {
  @apply table bg-primary-300 rounded-sm 
}

